@font-face {
  font-family: 'Maledpan';
  src: url(/fonts/Maledpan.ttf?89584c7d0059236988746bfb7ea43dbf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

* {
  font-family: "Maledpan", sans-serif !important;
}

body {
  background: #efefef;
}

